<phpunit
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="true"
    stopOnSkipped="true"
    stopOnRisky="true"
    bootstrap="vendor/autoload.php"
    cacheTokens="false"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="globals and helpers">
            <directory>./tests/Globals/</directory>
        </testsuite>

        <testsuite name="factories">
            <directory>./tests/Factories/</directory>
        </testsuite>

        <testsuite name="operators">
            <directory>./tests/Methods/Operators/</directory>
        </testsuite>

        <testsuite name="stateful operators">
            <directory>./tests/Methods/StatefulOperators/</directory>
        </testsuite>

        <testsuite name="terminators">
            <directory>./tests/Methods/Terminators/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <file>./src/functions.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
